---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Guestbook from "@/components/Guestbook.astro";
import { SITE } from "@/config";
---

<Layout title={`Guestbook | ${SITE.title}`}>
  <Header />
  <Breadcrumb />
  <main id="main-content">
    <section id="guestbook" class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl mb-8">Guestbook</h1>
      <Guestbook />
    </section>
  </main>
  <Footer />
</Layout>